@import url(./Navbar.css);
@import url(./setting.css);
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, .7);
    transition: .3s ease;
    transition-delay: 1s;
}
.modal, .confirm, .note-editor {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    border: 1px solid var(--text-secondary);
}
.modal.light {
    background-color: var(--kedua);
    color: var(--text-2);
}
.modal {
    width: 90vw;
    height: 75vh;
    border-radius: 8px;
}
.second_modal {
    border-radius: 20px;
    background-color: transparent;
    color: var(--text-2);
    height: fit-content;
    width: calc(100% - 1em);
    max-width: 512px;
}
.add-modal {
    height: 100%;
}
.general-modal {
    flex: 1;
}

.icon-modal {
    font-size: 5em;
    color: royalblue;
    padding: 5px;
}
.form-modal, .img-form d-flex fd-column {
    flex: 1;
    padding: 2em;
    gap: 5px;
}
.form-modal .date, .img-form d-flex fd-column .date {
    font-size: x-small;
    margin-bottom: 3px;
    color: var(--white-2);
}
.input-left {
    gap: 5px;
}
.form-modal select {
    flex: 1;
    border: 1px solid grey;
}
.form-modal input {
    flex: 3;
}
.form-modal input, .form-modal textarea, .form-modal select, .img-form d-flex fd-column textarea {
    outline: none;
    background-color: var(--black-3);
    resize: none;
    padding: 8px;
    border: 1px solid var(--black-4);
    border-radius: 5px;
    font-family: inherit;
    color: var(--white-1);
    min-height: 45px;
    transition: .3s;
}
.form-modal input:focus, .form-modal textarea:focus, .form-modal select:focus {
    background-color: var(--black-1);
}
.form-modal textarea, .img-form d-flex fd-column textarea {
    flex: 1;
}
.form-modal.light input {
    background-color: #eaeaea;
    border: 1px solid #ddd;
    color: var(--text-2);
}
.form-modal.light input:focus {
    background-color: #ddd;
}
.task-submit {
    font-size: small;
    text-align: center;
    padding: 10px 0;
    margin: 0 3em;
    border-radius: 5px;
    cursor: pointer;
    color: var(--white-1);
    background-color: royalblue;
    justify-self: flex-end;
    margin-top: 20px;
    border: none;
    font-family: inherit;
}
.task-submit:hover {
    background-color: rgb(76, 121, 255);
    transition: .1s ease;
}
/* confirm */
.confirm {
    width: calc(100% - 30px);
    max-width: 650px;
    border-radius: 5px;
}
.confirm.light {
    background-color: var(--kedua);
    color: var(--text-1);
    padding: 1em;
}
.confirm.light .next-text {
    color: var(--text-1);
    margin: 1em 0;
}
.confirm img {
    border-radius: 8px;
    width: 4em;
    margin-right: 1em;
}
.confirm .form-modal {
    margin-top: 1em;
    padding: 0;
}
.confirm .bold {
    font-weight: bold;
    color: var(--white-3);
}
.confirm-profile {
    color: var(--text-2);
    margin-bottom: 1em;
}
.confirm-header, .confirm-body, .confirm-button {
    padding: 5px 10px;
}
.confirm-header {
    font-size: 1.5em;
    padding: 25px 30px;
}
.confirm-header span {
    margin-left: 10px;
}
.confirm-body {
    font-size: small;
    flex: 1;
}
.confirm-body h3 {
    color: var(--danger);
}
.confirm.light h3 {
    color: #a44a4a;
}
.confirm-context .msg span {
    word-break: break-all;
}
.next-text {
    color: var(--white-2);
}
.confirm-button {
    gap: 20px;
    font-size: small;
    margin: 10px 0 5px;
}
.confirm-btn {
    padding: 5px 20px;
    border-radius: 3px;
    cursor: pointer;
}
.confirm-no {
    color: #a44a4a;
}
.confirm-yes {
    background-color: royalblue;
}
.confirm.light .confirm-yes {
    background-color: #008ec5;
    color: var(--white-1);
}
/* filedrop */
.file-drop {
    height: 100%;
}
.img-view {
    flex: 1;
    background-color: var(--secondary);
}
.img-view img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.drop-zone {
    width: 90%;
    height: 90%;
    border: 10px solid var(--black-4);
    border-style:dashed;
    transition: .3s;
    border-radius: 5px;
} 
.drop-icon {
    font-size: 5em;
    color: var(--black-3);
    transition: .3s;
}
.drop-text {
    font-size: small;
    transition: .3s;
}
.drop-zone:hover {
    background-color: var(--black-4);
}
.drop-zone:hover .drop-icon {
    color: var(--white-3);
}
.drop-zone:hover .drop-text {
    opacity: 0;
}
.img-form d-flex fd-column {
    flex: 1;
    justify-content: center;
}
.general-info {
    border-bottom: 1px solid royalblue;
}
.url-image {
    color: var(--white-2);
    font-size: xx-small;
}
/* media query */
@media (max-width: 768px) {
    .input-left {
        flex-direction: column;
    }
}
@media (max-width: 524px) {
    .modal {
        height: 90vh;
    }
    .second_modal {
        height: fit-content;
    }
    .add-modal {
        flex-direction: column;
    }
    .form-modal {
        padding: .5em 1em 1em;
        overflow: auto;
    }
    .img-form d-flex fd-column {
        padding: .5em .5em 1em;
        flex: 2;
    }
    .file-drop {
        flex-direction: column;
    }
    .img-view {
        height: 250px;
    }
    .file-drop.jadwal-form .img-view {
        flex: 3;
    }
    .file-drop.jadwal-form .img-form d-flex fd-column {
        flex: 1;
    }
}
@media (max-width: 375px) {
    .input-left {
        flex-direction: column-reverse;
    }
}