.navigation_block {
    width: 100%;
    height: 100%;
    z-index: 2;
}
.navigation_block.active {
    background-color: #31364c46;
    visibility: visible;
}
.navigation_block.inactive {
    visibility: hidden;
}
.navigation {
    z-index: 2;
    height: -webkit-fill-available;
    filter: var(--filter-shadow);
    margin: 1em;
}
.hideNavbar {
    transform: translateX(calc(-100% - 2em));
    transition: .1s ease-in;
}
.showNavbar {
    transform: translateX(0);
    transition: .1s ease-out;
}
.pointer {
    cursor: pointer;
}
nav {
    width: 75px;
    max-height: 100%;
    border-radius: 8px;
}
.reload_btn-frame {
    border-radius: 15px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    background-color: var(--black-4);
    box-shadow: var(--shadow-1);
    display: grid;
    place-items: center;
    margin: 5px auto;
}
.reload_btn {
    font-size: large;
}
.home-frame {
    padding: 8px 2px;
    border-bottom: 2px solid var(--text-secondary);
    width: fit-content;
    margin: 0 auto;
}
.guild-frame.active {
    border-radius: 8px;
    background-color: var(--purple-1-transparent) !important;
}
.find-create-frame {
    border-top: 2px solid var(--text-secondary);
    width: 58px;
    margin: .5em;
    margin-top: 0;
    padding-top: 8px;
    gap: .5em;
}
.home-profile {
    border-radius: 15px;
    width: 48px;
    height: 48px;
    background-color: var(--purple-1-transparent);
}
.home-profile:hover {
    background-color: var(--purple-2);
}
.home-profile.active {
    background-color: var(--purple-1);
    box-shadow: var(--shadow-1);
}
.find-create:hover, .find-create:hover > * {
    box-shadow: var(--shadow-1);
    background-color: var(--orange-2);
    color: var(--black-2);
}
.guild-photo-profile {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin: .25em auto;
}
.guild-photo-profile.active {
    border-radius: 15px;
    border: 1px solid var(--purple-1);
    transition: .1s ease;
}
.guild-photo-profile:hover {
    border-radius: 15px;
}
.nav-guild {
    flex: 1;
    overflow: auto;
} 
.nav-guild div {
    padding: 0 .5em;
    cursor: pointer;
}
.nav-guild div:hover {
    background-color: var(--black-2);
    padding: 0 .5em;
}
.nav-icon {
    color: var(--white-1);
    height: 20px;
}
.nav-icon-2 {
    color: var(--purple-2);
}

/* navbar 2 */
.modeNavbar {
    width: 240px;
    margin: 2em 0;
    border-radius: 8px;
} 
.modeNavbarHeader {
    padding: 1.5px 10px 1.5px 16px;
    height: 48px;
}
.guild-name {
    padding: 12px 0;
    margin: 0;
    color: var(--text-primary);
    flex: 1 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
} 
.app-name {
    flex: 1;
    padding: 3px 0;
    margin: 0;
    color: var(--text-2);
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
}
.settingNavbar {
    color: var(--text-1);
    padding: 5px;
    border-radius: 8px;
}
.settingNavbar:hover {
    background-color: var(--purple-1-transparent);
}
.settingNavbar:active {
    color: var(--purple-1);
}
.roomList {
    overflow: auto;
    flex: 1;
}
.room {
    padding: .5em;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.room.active {
    background-color: var(--purple-1-transparent) !important;
    padding-left: .75em;
    transition: .1s ease;
}
.room:hover {
    background-color: var(--secondary-transparent);
}
.room:hover .room-icon,  .room:hover span, .room:hover .card-more .card-more-btn {
    color: var(--kedua) !important;
}
.room-icon, .room .card-more .card-more-btn {
    color: var(--text-1);
    height: 16px;
    margin: 0 5px;
}
.room-icon.active {
    color: var(--purple-1);
}
.room span {
    font-size: smaller;
    color: var(--text-secondary);
}
.room span.active {
    color: var(--purple-1);
}
/* profile */
.profile-container {
    width: 100%;
}
.profile {
    padding: 5px 8px;
    box-shadow: var(--shadow-1);
    margin: 1em;
    border-radius: 15px;
} 
.profile:hover {
    background-color: var(--secondary);
}
.profile:active {
    background-color: var(--black-2);
}
.profile img {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    margin-right: .5em;
    box-shadow: var(--shadow-1);
}
.profile-nickname {
    font-size: 14px;
    color: var(--pertama);
    font-weight: bold;
}
.profile-id {
    font-size: 12px;
    color: var(--kedua);
}
/* profile pop */
.profile_pop {
    background-color: var(--black-2);
    width: 300px;
    left: 10px;
    bottom: 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 15px 0;
    gap: 10px;
    transition: .1s ease;
} 
.profile_pop.active {
    opacity: 1;
    visibility: visible;
}
.profile_pop.inactive {
    opacity: 0;
    visibility: hidden;
}
.profile_pop img {
    width: 80px;
    border-radius: 50px;
    margin: 0 20px;
}
.profile_pop-body {
    flex: 1;
    background-color: var(--black-0);
    margin: 0 15px;
    padding: 10px;
    border-radius: 10px;
}
.profile_pop-nickname {
    font-weight: 600;
    border-bottom: 1px solid var(--black-4);
}
.profile_pop-nickname span, .profile_pop-created_at span, .profile_pop-switch_account, .profile_pop-add_account  {
    color: var(--white-3);
}
.profile_pop-created_at {
    font-size: x-small;
    margin-top: 5px;
    border-bottom: 1px solid var(--black-4);
    padding: 5px 0;
    margin-bottom: 10px;
}
.profile_pop-created_at p {
    font-weight: 600;
}
.profile_pop-switch_account, .profile_pop-add_account {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: small;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.profile_pop-switch_account:hover, .profile_pop-add_account:hover {
    background-color: var(--black-4);
    color: var(--white-1);
}
.profile_pop-switch_account:active, .profile_pop-add_account:active {
    background-color: var(--black-3);
}
/* search */
.search_book_container {
    height: calc(100vh - 3em);
    padding: 2em;
}
.search_book-header {
    gap: 3px;
    margin-bottom: 1em;
}
.search_book_container .form-modal {
    padding: 0;
}
.search_book_container .form-modal input {
    color: var(--text-2);
    background-color: unset;
    border: none;
    width: auto;
}
.search_book_container .form-modal input:focus {
    background-color: transparent;
}
.search_book_container .search_bar {
    border-radius: 3px;
    border: 2px solid var(--purple-1);
    border-radius: 45px;
    padding: 0 1em;
} 
.search_book_container .tiang {
    border: 1px solid var(--text-1);
    margin: 10px 0;
}
.search_book_container .submit_search {
    border: none;
    background-color: transparent;
    color: var(--text-2);
    font-size: large;
    padding: 0 1em;
    margin-left: 1em;
}
.sb_action_btn {
    min-width: 45px;
    min-height: 45px;
    display: grid;
    place-items: center;
}
.sb_action_btn .action_btn {
    padding: 8px;
    cursor: pointer;
    font-size: large;
}
/* add server */
.add_server_container.form-modal {
    padding: 0;
}
.add_server_container h4 {
    align-self: flex-start;
}
.add_server_container input {
    width: 100%;
}
.add_server-body {
    padding: 2em;
} 
.add_server_container h4 {
    margin-top: 1em;
}
.add_server_container p {
    font-size: small;
    margin-bottom: 1em;
    text-align: center;
}
.add_server_container .img-view {
    background-color: unset;
    width: 80px;
    height: 80px;
}
.add_server_container .img-view img {
    width: 5em;
    height: 5em;
    object-fit: cover;
    border-radius: 50px;
}
.add_server_container .img-view .remove-icon {
    height: 15px;
    width: 15px;
    background-color: var(--purple-1);
    border-radius: 50px;
    padding: 5px;
    color: var(--white-1);
    top: 0;
    right: 0;
}
.add_server_container .img-view .drop-zone {
    background-color: #ddd;
    border: 3px dashed var(--purple-1);
    padding: 1em;
    width: unset;
    height: unset;
    border-radius: 50px;
}
.add_server_container .img-view .drop-zone .drop-icon {
    font-size: 3em;
}
@media (max-width: 425px) {
    .navigation {
        flex-direction: column-reverse;
        width: calc(100% - 2em);
        margin: 1em;
        margin-top: 10em;
    }
    nav {
        display: flex;
        width:unset;
        align-items: center;
        border: none;
        flex-direction: row !important;
    }
    .find-create-frame {
        border-top: none;
        border-left: 2px solid var(--text-1);
        padding: 0 0 0 8px;
        margin: .5em;
    }
    .home-frame {
        border-bottom: none;
        border-right: 2px solid var(--text-1);
        padding: 0 8px 0 0;
        margin: .5em;
    }
    .nav-guild {
        align-items: center;
        flex-direction: row;
        border: none;
    }
    .guild-frame {
        padding: 0 !important;
    }
    .guild-photo-profile {
        margin: .25em;
    }
    .modeNavbar {
        margin: 0;
    }
    .profile_pop {
        left: 0;
    }
    .search_book_container {
        padding: 1em;
        padding-bottom: 2em;
    }
    .search_book-header {
        flex-direction: column;
    }
    .search_book_container .submit_search, .search_book_container .search_bar, .sb_action_btn .action_btn {
        font-size: small;
    }
    .search_book_container .form-modal input {
        width: calc(100% - 39px);
    }
    .search_book_container .tiang {
        display: none;
    }
    .search_book_container .submit_search {
        margin: 0;
    }
    .sb_action_btn {
        width: 45px;
        align-self: flex-end;
    }
}