.navigation_block {
    width: 100%;
    height: 100%;
}
.navigation_block.active {
    background-color: #31364c46;
    visibility: visible;
}
.navigation_block.inactive {
    visibility: hidden;
}
.navigation {
    height: -webkit-fill-available;
    margin: 1em;
    margin-top: 54px;
}
.hideNavbar {
    opacity: 0;
    visibility: hidden;
    transition: .1s ease;
}
.showNavbar {
    opacity: 1;
    visibility: visible;
    transition: .1s ease;
}
nav {
    width: 75px;
    max-height: 100%;
    border-radius: 8px;
    border: 1px solid var(--secondary-bright);
}
.reload_btn-frame {
    border-radius: 15px;
    width: 48px;
    height: 48px;
    background-color: var(--black-4);
    box-shadow: var(--shadow-1);
    margin: 5px auto;
}
.reload_btn {
    font-size: large;
}
.nav-icon-frame {
    width: 48px;
    height: 48px;
    background-color: var(--black-2);
    margin: .5em;
    border-radius: 15px;
}
.nav-icon {
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: var(--purple-2);
}
.nav-icon:hover {
    background-color: goldenrod;
    color: var(--black-2);
}
.nav-icon.active {
    background-color: var(--purple-1);
    color: var(--text-primary);
}
.guild-frame.active {
    border-radius: 8px;
    background-color: var(--purple-1-transparent) !important;
}
.guild-photo-profile {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin: .25em auto;
    transition: .1s ease;
}
.guild-photo-profile.active {
    border-radius: 15px;
    border: 1px solid var(--purple-1);
}
.guild-photo-profile:hover {
    border-radius: 5px;
    border: 1px solid var(--purple-1);
}
.nav-guild {
    flex: 1;
} 
.nav-guild div {
    padding: 0 .5em;
}
.nav-guild div:hover {
    background-color: var(--black-2);
    padding: 0 .5em;
}

/* navbar 2 */
.modeNavbar {
    width: 240px;
    margin: 2em 0;
    border-radius: 8px;
    border: 1px solid var(--secondary);
    margin-left: .25em;
} 
.modeNavbarHeader {
    padding: 1.5px 10px 1.5px 16px;
    height: 48px;
}
.guild-name {
    padding: 12px 0;
    margin: 0;
    color: var(--text-primary);
    flex: 1 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
} 
.app-name {
    flex: 1;
    padding: 3px 0;
    margin: 0;
    color: var(--text-2);
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
}
.settingNavbar {
    color: var(--text-1);
    padding: 5px;
    border-radius: 8px;
}
.settingNavbar:hover {
    background-color: var(--purple-1-transparent);
}
.settingNavbar:active {
    color: var(--purple-1);
}
.roomList {
    flex: 1;
}
.room {
    padding: .35em;
    gap: 3px;
    color: var(--text-secondary);
}
.room.active {
    background-color: var(--purple-1-transparent) !important;
    transition: .1s ease;
    color: var(--text-primary);
}
.room:hover {
    background-color: var(--secondary-transparent);
}
.room:hover .room-icon,  .room:hover span, .room:hover .card-more .card-more-btn {
    color: var(--kedua) !important;
}
.room-icon, .room .card-more .card-more-btn {
    color: var(--text-1);
    height: 16px;
    margin: 0 5px;
}
.room-icon.active {
    color: var(--purple-1);
}
.room span {
    font-size: smaller;
    color: var(--text-secondary);
}
.room span.active {
    color: var(--purple-1);
}
/* profile */
.profile-container {
    width: 100%;
}
.profile {
    padding: 5px 8px;
    box-shadow: var(--shadow-1);
    margin: 1em;
    border-radius: 15px;
} 
.profile:hover {
    background-color: var(--secondary);
}
.profile:active {
    background-color: var(--black-2);
}
.profile img {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    margin-right: .5em;
    box-shadow: var(--shadow-1);
}
.profile-nickname {
    font-size: 14px;
    color: var(--pertama);
    font-weight: bold;
}
.profile-id {
    font-size: 12px;
    color: var(--kedua);
}
/* profile pop */
.profile_pop {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
    width: 300px;
    left: 10px;
    bottom: 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 15px 0;
    gap: 10px;
    transition: .1s ease;
} 
.profile_pop.active {
    opacity: 1;
    visibility: visible;
}
.profile_pop.inactive {
    opacity: 0;
    visibility: hidden;
}
.profile_pop img {
    width: 80px;
    border-radius: 50px;
    margin: 0 20px;
}
.profile_pop-body {
    flex: 1;
    background-color: var(--secondary);
    margin: 0 15px;
    padding: 10px;
    border-radius: 10px;
}
.profile_pop-nickname {
    font-weight: 600;
    border-bottom: 1px solid var(--black-4);
}
.profile_pop-nickname span, .profile_pop-created_at span, .profile_pop-switch_account, .profile_pop-add_account  {
    color: var(--white-3);
}
.profile_pop-created_at {
    font-size: x-small;
    margin-top: 5px;
    border-bottom: 1px solid var(--black-4);
    padding: 5px 0;
    margin-bottom: 10px;
}
.profile_pop-created_at p {
    font-weight: 600;
}
.profile_pop-btn {
    gap: 10px;
    font-size: small;
    padding: 5px 10px;
    border-radius: 5px;
}
.profile_pop-switch_account:hover, .profile_pop-add_account:hover {
    background-color: var(--black-4);
    color: var(--white-1);
}
.profile_pop-switch_account:active, .profile_pop-add_account:active {
    background-color: var(--black-3);
}
/* search */
.search_book_container {
    padding: 2em;
}
.search_book-header {
    margin-bottom: 1em;
}
.search_book_container .form-modal {
    padding: 0;
}
.search_book_container .form-modal input {
    background-color: unset;
    border: none;
    width: auto;
    color: var(--text-primary);
}
.search_book_container .form-modal input:focus {
    background-color: transparent;
}
.search_bar {
    background-color: var(--secondary) !important;   
}
.search_book_container .search_bar {
    border-radius: 3px;
    border-radius: 45px;
    padding: 0 1em;
}
.search_book_container .tiang {
    border: 1px solid var(--text-1);
    margin: 10px 0;
}
.search_book_container .submit_search {
    border: none;
    background-color: transparent;
    color: var(--text-2);
    font-size: large;
    padding-right: 1em;
    padding-left: 2em;
}
.sb_action_btn {
    min-width: 45px;
    min-height: 45px;
}
.sb_action_btn .action_btn {
    padding: 8px;
    font-size: large;
}
/* add server */
.add_server_container.form-modal {
    padding: 0;
}
.add_server_container h4 {
    align-self: flex-start;
}
.add_server_container input {
    width: 100%;
}
.add_server-body {
    padding: 2em;
} 
.add_server_container h4 {
    margin-top: 1em;
}
.add_server_container p {
    font-size: small;
    margin-bottom: 1em;
    text-align: center;
}
.add_server_container .img-view {
    background-color: unset;
    width: 80px;
    height: 80px;
}
.add_server_container .img-view img {
    width: 5em;
    height: 5em;
    object-fit: cover;
    border-radius: 50px;
}
.add_server_container .img-view .remove-icon {
    height: 15px;
    width: 15px;
    background-color: var(--purple-1);
    border-radius: 50px;
    padding: 5px;
    color: var(--white-1);
    top: 0;
    right: 0;
}
.add_server_container .img-view .drop-zone {
    border: 3px dashed var(--purple-1);
    padding: 1em;
    width: unset;
    height: unset;
    border-radius: 50px;
}
.add_server_container .img-view .drop-zone .drop-icon {
    font-size: 3em;
}
@media (max-width: 425px) {
    .profile_pop {
        left: 0;
    }
    .search_book_container {
        padding: 1em;
        padding-bottom: 2em;
    }
    .search_book-header {
        flex-direction: column;
    }
    .search_book_container .submit_search, .search_book_container .search_bar, .sb_action_btn .action_btn {
        font-size: small;
    }
    .search_book_container .form-modal input {
        width: calc(100% - 39px);
    }
    .search_book_container .tiang {
        display: none;
    }
    .search_book_container .submit_search {
        margin: 0;
    }
    .sb_action_btn {
        width: 45px;
        align-self: flex-end;
    }
}