.base  {
    padding-top: 48px;
    background-color: var(--black-4);
    overflow: hidden;
    display: flex;
    height: calc(100vh);
}
.base-left, .base-center, .base-right {
    padding: .5em;
    overflow: auto;
}
.base-left {
    flex: 1;
}
.base-center {
    flex: 2;
}
.base-right {
    flex: 1;
}
/* .sidebar-left {
    
}
.center {

}
.sidebar-right {

} */