@import url(./card.css);
@import url(./detailCard.css);
.center {
    display: flex;
    gap: 5px;
    flex-direction: column;
    position: relative;
}
.center-action-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    bottom: 5px;
    width: 30em;
    align-self: flex-end;
    gap: .5em;
}
.detail-back {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: var(--purple-2);
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: var(--shadow-1);
}
.action-add {
    height: 45px !important;
}
.add-btn {
    background-color: var(--purple-1);
    color: var(--white-1);
    padding: 16px;
    font-size: small;
    border-radius: 50px;
    transition: .1s ease;
    box-shadow: var(--shadow-1);
}
.add-btn:hover {
    background-color: var(--purple-2);
}