.base-right {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.sidebar-right {
    display: flex;
    flex-direction: column;
    gap: 1px;
    height: calc(100vh - 48px);
    overflow: auto;
    margin-bottom: 48px;
}
.base-right-form {
    display: flex;
    align-items: center;
    gap: 3px;
    height: 48px;
    background-color: var(--black-4);
    margin: 0 3px 8px;
    padding: 0 2px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.base-right-form input {
    flex: 4;
    background-color: var(--black-5);
    outline: none;
    border: none;
    border-radius: 5px;
    color: var(--white-2);
    height: 35px;
    padding: 0 5px;
}
.base-right-form button {
    height:35px;
    flex: 1;
    color: var(--white-1);
    border: none;
    border-radius: 10px;
    font-size: 1em;
}
.btn-off {
    background-color: var(--light-blue);
}
.btn-on {
    background-color: var(--light-blue);
    box-shadow: var(--shadow-2-blue);
}
.chat-card-date {
    border-radius: 5px;
    color: var(--white-3);
    width: fit-content;
    align-self: center;
    font-size: .5em;
    padding: .25em .5em;
    margin: .5em 0;
}
.chat-card-nickname {
    font-size: .7em;
    color: var(--white-2);
    margin-top: .5em;
}
.chat-card {
    display: flex;
    margin-bottom: 1px;
}
.chat-card-message {
    border-radius: 5px 10px 10px 0;
    padding: 2px 5px;
    background-color: var(--black-5);
    font-size: .7em;
}
.chat-card-time {
    font-size: .5em;
    color: var(--white-3);
    align-self: flex-end;
    margin-left: 2px;
}
.base-right-hide {
    transform: translateX(0);
}
@media (max-width: 768px) {
    .base-right {
        height: calc(100vh - 48px);
        position: fixed;
        width: 223px;
        background-color: var(--black-4);
        right: 0;
        width: 314px;
    }
    .base-right-hide {
        transform: translateX(100%);
    }
}