@import url(./chat.css);
.base-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--black-2);
}
.sidebar-right {
    display: flex;
    flex-direction: column;
    gap: 1px;
    flex: 1;
    overflow: auto;
}
.base-right-form {
    display: flex;
    align-items: center;
    gap: 3px;
    height: 48px;
    background-color: var(--black-2);
    margin: 0 3px 8px;
    padding: 0 2px;
}
.base-right-form input {
    flex: 4;
    background-color: var(--black-4);
    outline: none;
    border: none;
    border-radius: 5px;
    color: var(--white-2);
    padding: 0 5px;
    height: 35px;
    font-size: .8em;
}
.base-right-form button {
    height: 35px;
    flex: 1;
    color: var(--white-1);
    border: none;
    border-radius: 10px;
    font-size: 1em;
}
.btn-off {
    background-color: var(--light-blue);
}
.btn-on {
    background-color: var(--light-blue);
    box-shadow: var(--shadow-2-blue);
}
.users-group {
    color: var(--white-3);
}
.group-user-container {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.group-user {
    display: flex;
    align-items: center;
    padding: 5px 2px;
    gap: 5px;
    border-radius: 5px;
}
.group-user:hover {
    background-color: var(--black-4);
    transition: .1s ease;
}
.group-user img {
    width: 34px;
    border-radius: 50px;
}
.group-user p {
    font-size: small;
}
@media (max-width: 768px) {
    .base-right {
        height: calc(100vh - 48px);
        position: fixed;
        background-color: var(--black-4);
        right: 0;
        width: 314px;
        box-shadow: var(--shadow-1-left);
    }
    .base-right-form {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 314px;
        margin: 0;
        padding: 0 3px 8px;
    }
    .base-right-hide {
        transform: translateX(100%);
        transition: .1s ease;
    }
    .base-right-show {
        transform: translateX(0);
        transition: .1s ease;
    }
}