.sidebar-left {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 5px;
}
.base-left-hide {
    transform: translateX(0);
}
@media (max-width: 892px) {
    .base-left {
        height: calc(100vh - 48px);
        position: fixed;
        width: 223px;
        background-color: var(--black-4);
        box-shadow: var(--shadow-1-right);
    }
    .base-left-hide {
        transform: translateX(-100%);
    }
}

.progress {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 100%;
}
.progress-bar {
    background-color: var(--black-3);
    height: 20px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.progress-value {
    height: 100%;
}
.undone {
    background-color: var(--ok);
    width: 75%;
}
.done {
    background-color: var(--danger);
    width: 25%;
}