@import url(./baseRight.css);
@import url(./baseLeft.css);

.base  {
    padding-top: 48px;
    background-color: var(--black-4);
    overflow: hidden;
    display: flex;
    height: 100vh;
}
.base-left, .base-center, .base-right {
    overflow: auto;
}
.base-left {
    flex: 1;
}
.base-center {
    flex: 2;
}
.sidebar-left, .center, .sidebar-right {
    padding: .5em;
}
.center {
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.box-card-image {
    width: 48px;
    height: 48px;
    border-radius: 5px;
    background-color: var(--black-3);
}
.todo-card {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    background-color: var(--black-3);
}