.chat-card-date {
    border-radius: 5px;
    color: var(--black-4);
    background-color: var(--kedua);
    box-shadow: var(--shadow-1);
    width: fit-content;
    align-self: center;
    font-size: .5em;
    padding: .25em .5em;
    margin: .5em 0;
}
.chat-card-nickname {
    font-size: .7em;
    color: var(--text-2);
    margin-top: .5em;
}
.chat-card {
    display: flex;
    margin-bottom: 1px;
    position: relative;
    width: 100%;
    transition: .1s ease;
}

.chat-card.my {
    flex-direction: row-reverse;
    align-self: flex-end;
}
.chat-card.active {
    background-color: var(--ok);
}
.chat-card-message {
    background-color: #eaeaea;
    white-space: pre-line;
    color: var(--text-2);
}
.chat-card-message {
    border-radius: 5px 10px 10px 0;
    padding: 2px 5px;
    font-size: .7em;
    word-break: break-all;
    color: var(--black-2);
}
.chat-card-message.my {
    border-radius: 10px 5px 0 10px;
    background-color: var(--black-1);
    color: var(--white-1);
}
.chat-card-message.disable {
    background-color: transparent;
    color: var(--black-2);
    border: 1px solid var(--black-1);
}
.chat-card-message.disable.my {
    border: 1px solid var(--black-1);
    color: var(--black-1);
}
.chat-card-time {
    font-size: .5em;
    color: var(--text-2);
    align-self: flex-end;
    margin-left: 2px;
}
.chat-card-time.my {
    margin-left: 0;
    margin-right: 2px;
}
.base-right-hide {
    transform: translateX(0);
}
.chat-dropdown {
    position: absolute;
    bottom: 0;
    right: 0;
    width: fit-content;
}
.chat-dropdown.my {
    left: 0;
}
.chat-dropdown.active {
    opacity: 1;
    visibility: visible;
    transition: .1s ease;
    width: 30px;
    display: flex;
    justify-content: center;
}
.chat-dropdown.inactive {
    opacity: 0;
    visibility: hidden;
    transition: .1s ease;
}
.chat-dropdown ul li {
    background-color: var(--black-2);
    list-style: none;
    font-size: small;
    padding: 0 5px;
    border-radius: 5px;
}
.chat-dropdown ul li:hover {
    background-color: var(--black-5);
}