:root {
    --black-0: #1e1e23;
    --black-1: #202225;
    --black-2: #2f3136;
    --black-3: #292b2f;
    --black-4: #36393f;
    --black-5: #42464d;
    --white-1: #ffffff;
    --white-2: #b9bbbe;
    --white-3: #96989d;
}