.Toastify__toast-container {
    width: fit-content !important;
}
.Toastify__toast {
    min-height: 0 !important;
    width: fit-content;
    font-family: var(--defaultFont) !important;
    font-size: small;
}
.Toastify__toast-theme--colored {
    background-color: var(--black-2) !important;
    padding: 0 !important;
    margin-bottom: 0;
}
.Toastify__toast-body {
    margin: 0 !important;
    padding: 0 !important;
}
.Toastify__progress-bar {
    background-color: transparent;
}
/* my toast */
.myToast {
    display: flex;
    align-items: center;
    color: var(--white-1);
}
.myToast .icon {
    background-color: var(--black-3);
    padding: 5px;
}
.myToast p {
    padding: 5px;
}
.myToast-edit .icon {
    color: var(--light-blue);
}
.myToast-delete .icon {
    color: var(--danger);
}