.setting_full {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
}
.setting_full_close {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 1em;
    right: 1em;
    color: var(--white-2);
}
.setting_full_close:hover .x_mark {
    border: 2px solid var(--purple-1);
    background-color: var(--purple-1-transparent);
}
.setting_full_close p {
    font-size: xx-small;
    color: var(--purple-1);
}
.x_mark {
    font-size: 1.2em;
    border: 2px solid var(--purple-1-transparent);
    color: var(--purple-1);
    padding: 6px 10px;
    border-radius: 50px;
    display: grid;
    place-items: center;
}
/* nav */
.setting_full_nav {
    flex: 1;
    background-color: #31364c46;
    padding: 4em 0;
    box-shadow: var(--shadow-1-right);
    z-index: 1;
}
.setting_full_nav ul {
    max-width: 200px;
    margin-left: auto;
    border-radius: 8px 0 0 8px;
    overflow: hidden;
    background-color: var(--kedua);
}
.setting_full_nav_list {
    display: flex;
    align-items: center;
    padding: .5em 1em;
    color: var(--text-2);
    gap: .5em;
    cursor: pointer;
}
.setting_full_nav_list.active {
    color: var(--purple-1);
    background-color: var(--purple-1-transparent);
}
.setting_full_nav_list:hover {
    background-color: var(--purple-2);
    color: var(--white-1);
}
.setting_full_body {
    flex: 3;
    background-color: var(--pertama);
    padding: 4em 1em;
    position: relative;
    overflow: auto;
}
.setting_full_body section {
    max-width: 670px;
}
/* profile */
.setting_full_profile_view {
    display: flex;
    flex-direction: column;
    background-color: var(--kedua);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: var(--shadow-1);
}
.setting_full_profile_view_banner img {
    width: 100%;
    height: 8em;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}
.setting_full_profile_view_float {
    display: flex;
    align-items: center;
    position: absolute;
    top: -45px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--kedua);
}
.setting_full_pp_guild {
    width: 4em;
    height: 4em;
    border-radius: 5px;
    cursor: pointer;
}
.setting_full_profile_view_banner img.full {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    object-fit: contain;
    background-color: #20222557;
    transition: .3s ease;
}
.setting_full_pp_guild:hover {
    border-radius: 5px;
}
.guild_editor {
    display: flex;
    align-items: center;
    gap: 4px;
}
.guild_editor .form-modal {
    flex-direction: row;
}
.guild_editor .sb_action_btn {
    display: flex;
    gap: 4px;
}
.guild_editor .sb_action_btn button {
    border: none;
    color: var(--text-1);
}
.guild_editor .sb_action_btn .action_btn {
    width: 1em;
}
.guild_editor .action_btn {
    width: 1em;
    height: 1em;
    padding: 5px;
    cursor: pointer;
}
.guild_editor .sb_action_btn .action_btn:hover, .guild_editor .action_btn:hover{
    background-color: #ddd;
    border-radius: 3px;
}
.guild_editor .form-modal {
    width: fit-content;
    padding: 0;
    flex: 0;
}
.guild_editor .form-modal.flex-one {
    flex: 1;
    flex-direction: column;
    height: 15em;
}
.guild_editor .form-modal.flex-one textarea {
    flex: 1;
}
.guild_editor .form-modal.flex-one .sb_action_btn {
    align-self: flex-end;
}
.setting_full_name_guild {
    font-size: larger;
    color: var(--text-2);
}
.setting_full_name_guild span {
    color: var(--text-1);
}
.setting_full_profile_view_body {
    position: relative;
    margin-top: 10px;
    border-radius: 5px;
    padding: 1em;
    color: var(--text-1);
    font-size: small;
}
.setting_full_profile_view_body h5 {
    margin-top: 10px;
}
.setting_keluar {
    padding: 10px;
}
.setting_keluar p {
    color: var(--text-1);
    font-weight: bold;
    font-size: small;
    margin-bottom: 10px;
}
.setting_action {
    display: flex;
    gap: 10px;
}
/* setting action button */
.setting_btn {
    padding: 5px 20px;
    border-radius: 3px;
    font-size: x-small;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.setting_btn.delete_btn {
    background-color: #d83c3e;
}
.setting_btn.delete_btn:hover {
    background-color: maroon;
}
.setting_btn.keluar_btn {
    border: 1px solid #d83c3e;
    color: #d83c3e;
}
.setting_btn.keluar_btn:hover {
    border-color: maroon;
    background-color: maroon;
}
.setting_btn.blue_btn {
    background-color: var(--light-blue);
    width: fit-content;
    color: var(--white-1);
    margin-left: auto;
}

/* room */
.setting_header {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--purple-1);
}
.setting_header h3 {
    color: var(--text-2);
}
.setting_header p {
    color: var(--text-1);
    font-weight: 400;
    font-size: small;
    margin-top: 10px;
}
.setting_full .roomList {
    height: 50vh;
    box-shadow: var(--shadow-1);
    margin: 1em 0;
}
.roomList .room, .addPage .room {
    margin: 2px 0;
    border-radius: 8px;
}
.setting_full .roomList .room span {
    flex: 1;
}
.setting_full .roomList .room .card-more .card-more-btn.active {
    color: var(--purple-2);
}
.setting_full .roomList .room .card-more .card-more-btn:hover {
    color: var(--white-1);
    background-color: var(--kedua-transparent);
}
.setting_full .card-drop-down ul {
    background-color: var(--kedua);
    box-shadow: var(--shadow-1);
}
.setting_full .card-drop-down li, .setting_full .room .card-drop-down ul li span {
    color: var(--text-2) !important;
}
.setting_full .card-drop-down li:hover {
    background-color: var(--purple-1-transparent);
}
.setting_full .card-drop-down li:hover, .setting_full .card-drop-down ul li:hover span {
    color: var(--purple-1) !important;
}
.setting_room_list_name {
    flex: 1;
}
/* addPage */
.addPage_body {
    padding: 1em;
}
.addPage .heading {
    color: var(--text-2);
    font-size: large;
    font-weight: bold;
}
.addPage .room {
    margin: 1vw;
    border: 1px solid var(--purple-1-transparent);
}
.addPage .roomInput {
    display: flex;
}
.addPage .room .room_input{
    flex: 1;
    width: 100%;
}
.addPage .room .room_input.active{
    background-color: var(--kedua);
    color: var(--purple-1);
}
.pagePreview {
    margin-top: 1em;
}
.room-grid {  
    display: grid;
    grid-template-columns: .2fr 1.8fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "page_icon page_type"
        "page_icon page_desc";
}

.page_icon { grid-area: page_icon; }

.page_type { grid-area: page_type; }

.page_desc { 
    grid-area: page_desc;
}
.addPage .small {
    color: var(--text-1);
    font-size: small;
}
.addPage .bold {
    font-weight: bold;
}
.addPage .uppercase {
    text-transform: uppercase;
}
.addPage .form-modal {
    padding: 0;
}
.addPage .form-modal input, .guild_editor .form-modal input, .guild_editor .form-modal textarea {
    background-color: #eaeaea;
    border: 1px solid #ddd;
    color: var(--text-2);
}
.addPage .form-modal input:focus, .guild_editor .form-modal input:focus, .guild_editor .form-modal textarea:focus {
    background-color: #ddd;
}
.addPage_action {
    background-color: #ddd;
    color: var(--white-1);
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}
.addPage_action .btn_action {
    cursor: pointer;
    text-align: center;
    font-size: small;
    border-radius: 8px;
    height: 35px;
    display: grid;
    place-items: center;
    color: var(--text-2);
    width: 25%;
}
.addPage_action .btn_add {
    background-color: var(--purple-1-transparent);
    border: none;
    font-family: var(--default-font);
    min-width: fit-content;
    padding: 0 .5em;
}
.addPage_action .btn_add.active {
    background-color: var(--purple-1);
    color: var(--white-1);
}
/* room action */
.room_action {
    display: flex;
    align-items: center;
    justify-self: flex-end;
}
.setting_room .info-menu-box {
    background-color: inherit;
}
.setting_room:hover {
    background-color: var(--black-1);
}
.setting_room-setting {
    transition: .3s;
}
.setting_room-setting:hover {
    transform: rotate(30deg);
}
/* meduia query */
@media (max-width: 600px) {
    .setting_full_nav_list_icon {
        font-size: large;
    }
    .setting_full_nav_list p {
        display: none;
    }
    .setting_full_nav {
        flex: 0;
    }
    .setting_full_body {
        flex: 1;
    }
    .setting_full_name_guild {
        font-size: medium;
    }
}
@media (max-width: 425px) {
    .setting_full {
        flex-direction: column-reverse;
    }
    .setting_full_nav {
        padding: 0;
    }
    .setting_full_nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 0;
        max-width: 100%;
    }
    .setting_full_nav_list {
        flex: 1;
    }
    .setting_full_profile_view {
        padding-bottom: 0;
    }
    .setting_full_profile_view_body p {
        font-size: small;
    }
    .setting_full_pp_guild {
        max-width: none;
        max-height: 250px;
    }
    .setting_full_name_guild {
        margin-top: 10px;
        font-size: large;
    }
    .setting_full_nav_list {
        justify-content: center;
    }
}