@import url(./container.css);
#todoApp {
    background-color: var(--black-4);
    height: 100vh;
}
.pointer {
    cursor: pointer;
}
header {
    background-color: var(--pertama);
    filter: var(--filter-shadow);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 0 8px;
    height: 48px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom:  1.25069px solid rgba(0, 0, 0, 0.0803);
}
.header-left {
    display: flex;
    flex: 1;
}
.bars {
    margin: 0 .5em;
    height: 20px;
    padding: 5px 7px;
    border-radius: 5px;
    transition: .1s ease;
}
.btn-active {
    color: var(--purple-1);
    background-color: var(--purple-1-transparent);
}
.btn-inactive {
    color: var(--text-1);
}
.bars:hover {
    background-color: var(--purple-1-transparent);
    color: var(--purple-1);
}
header h4 {
    margin: 0;
    font-size: 20px;
    color: var(--text-2);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 150px;
    flex: 1 0 0;
}
.sidebar-button {
    display: flex;
    align-items: center;
    gap: 5px;
}
.btn-sidebar {
    height: 20px;
    padding: 5px 7px;
    border-radius: 5px;
}
.btn-sidebar:hover {
    background-color: var(--purple-1-transparent) !important;
}
/* .room:hover .room-icon,  .room:hover span {
    color: var(--kedua) !important;
} */
@media (min-width: 768px) {
    .btn-sidebar-right {
        opacity: .25;
    }
}
@media (min-width: 892px) {
    .btn-sidebar-left {
        opacity: .25;
    }
}