@import url(./container.css);
#todoApp {
    background-color: var(--black-4);
    height: -webkit-fill-available;
}
.pointer {
    cursor: pointer;
}
header {
    background-color: var(--black-4);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 0 8px;
    box-shadow: var(--shadow-1);
    height: 48px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.header-left {
    display: flex;
}
.bars {
    margin: 0 .5em;
    height: 20px;
    padding: 5px 7px;
    border-radius: 5px;
}
.bars-active {
    background-color: var(--black-2);
    color: var(--orange-2);
}
.bars:hover {
    background-color: var(--black-2);
}
header h4 {
    margin: 0;
    font-size: 20px;
}
.sidebar-button {
    display: flex;
    align-items: center;
    gap: 5px;
}
.btn-sidebar {
    height: 20px;
    padding: 5px 7px;
    border-radius: 5px;
}
.btn-sidebar:hover {
    background-color: var(--black-2);
}
@media (min-width: 768px) {
    .btn-sidebar-right {
        opacity: .25;
    }
}
@media (min-width: 892px) {
    .btn-sidebar-left {
        opacity: .25;
    }
}