.auth {
    height: 100vh;
    margin: 0 auto;
}
.auth-context {
    width: 100%;
    border-radius: 5px;
    max-width: calc(100vw - 25px);
    padding: 25px;
}
.navigate_to {
    margin-top: 10px;
}
.navigate_to p {
    font-size: x-small;
}
.navigate_to p span {
    text-decoration: underline;
    text-decoration-color: royalblue;
    text-decoration-thickness: 2px;
}
.auth_btn {
    padding: 5px 10px;
    border-radius: 5px;
    min-height: 48px;
    font-size: large;
}
.auth_btn:hover {
}
.auth_btn:active {
}
.auth_btn span {
    margin-left: 10px;
}
.navigate_back {
    margin-top: 50px;
}
.navigate_back:hover {
    margin-top: 50px;
}
.navigate_back:active {
    margin-top: 50px;
}
/* register */
.register {
    height: 100%;
}
.msg_email_exist {
    margin: 10px 0;
}
.register p {
    margin-top: 15px;
}
.account_preview {
    padding: 10px 15px;
    gap: 10px;
    border-radius: 5px;
    margin: 10px 0 20px;
}
.nickname_preview {
    font-size: xx-small;
}
.account_preview img {
    max-width: 48px;
    border-radius: 50px;
}
.auth_form {
    gap: 10px;
    margin-top: 10px;
}
.auth_form label {
    font-size: small;
    margin-bottom: 10px;
}
.auth_form input {
    outline: none;
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 8px 10px;
    width: 100%;
    font-family: inherit;
    margin-top: 4px;
}
.auth_form input[type="submit"] {
    border: none;
    height: 48px;
}
.auth_form input[type="submit"]:hover {
    filter: brightness(110%);
}
.login_btn_container {
    gap: 10px;
}
.login_btn_container > * {
    height: 40px !important;
    margin-top: 0 !important;
}
.error_msg {
    font-size: small;
}
.auth_form input.red-border {
}
.auth_form input.green-border {
    border: 1px solid yellowgreen;
}
/* pemulihan */
.pemulihan .error_msg {
    margin-top: 15px;
}
.pemulihan .navigate_to {
    text-align: center;
}
.pemulihan .account_preview, .pemulihan .auth_form {
    width: 100%;
}
.pemulihan .account_preview div p span {
}
@media (min-width: 400px) {
    .auth-context {
        max-width: 400px;
    }
}