.modal_container {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 512px;
    display: flex;
    flex-direction: column;
}
.modal_context {
    display: flex;
    flex-direction: column;
    background-color: var(--kedua);
    color: var(--text-1);
    border-radius: 5px;
    max-width: calc(100vw - 25px);
}
.modal_context-transparent {
    background-color: transparent;
    gap: 1em;
}
.modal_context .book_card {
    width: 100%;
    max-width: 20em;
}
.join_btn {
    width: calc(100% - 1em);
    margin: .5em;
    background-color: var(--light-blue);
    color: var(--white-1);
    padding: .5em;
    border-radius: 8px;
    box-shadow: var(--shadow-1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.join_btn img {
    width: 2em;
    height: 2em;
    border-radius: 50px;
}
.join_btn span {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .5em;
    padding: 0 .5em;
}
@media (max-width: 375px) {
    
}