.modal_container {
    height: 100vh;
    margin: 0 auto;
    max-width: 512px;
}
.modal_context {
    border-radius: 5px;
    max-width: calc(100vw - 25px);
}
.modal_context-transparent {
    gap: 1em;
}
.modal_context .book_card {
    width: 100%;
    max-width: 30em;
}
.join_btn {
    padding: .5em;
    border-radius: 8px;
    gap: 1em;
}
.join_btn img {
    width: 2em;
    height: 2em;
    border-radius: 50px;
}
.join_btn span {
    flex: 1;
    gap: .5em;
    padding: 0 .5em;
}