/* display */
.d-flex {
    display: flex;
}
.d-grid {
    display: grid;
}
.d-inline-block {
    display: inline-block;
}
.d-block {
    display: block;
}
/* grid property */
.pi-center {
    place-items: center;
}
.gaf-row {
    grid-auto-flow: row;
}
/* flex property */
.fd-row {
    flex-direction: row;
}
.fd-column {
    flex-direction: column;
}
.fd-row-reverse {
    flex-direction: row-reverse;
}
.jc-flex-end {
    justify-content: flex-end;
}
.jc-center {
    justify-content: center;
}
.jc-space-between {
    justify-content: space-between;
}
.ai-center {
    align-items: center;
}
.ai-flex-end {
    align-items: flex-end;
}
.ac-center {
    align-content: center;
}
.as-flex-end {
    align-self: flex-end;
}
.as-flex-start {
    align-self: start;
}
.as-center {
    align-self: center;
}
.fw-wrap {
    flex-wrap: wrap;
}
.flex-1 {
    flex: 1;
}
/* overflow */
.of-hidden {
    overflow: hidden;
}
.of-auto {
    overflow: auto;
}
.of-scroll {
    overflow: scroll;
}
/* position */
.p-relative {
    position: relative;
}
.p-fixed {
    position: fixed;
}
.p-absolute {
    position: absolute;
}
/* zindex */
.zi-1 {
    z-index: 1;
}
.zi-2 {
    z-index: 2;
}
.zi-3 {
    z-index: 3;
}