@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
.welcome {
    flex: 3;
    width: auto;
    background-color: var(--primary);
}
.welcome_page {
    flex: 1;
    width: 100%;
    max-width: 512px;
    padding: 2em 1.5em;
} 
.welcome_name {
    color: var(--text-2);
    font-weight: 500;
    font-size: calc(1vw + 3em);
    line-height: 1;
    font-family: 'Comfortaa', cursive;
}
.welcome_tagline {
    color: var(--text-1);
    animation: typing 2s steps(30, end);
    font-size: calc(1vw + .5em);
} 
.cursor {
    animation: blink 1s infinite;
}
.welcome .greeting {
    margin: 1em;
}
@keyframes typing {
    from { width: 0; }
}
@keyframes blink {
    50% { opacity: 0; }
}
.tapToOpenNavbar {
    flex: 1 1 auto;
    font-size: xx-small;
    color: var(--text-1);
    background-color: var(--secondary);
    padding: 2em;
    width: 100%;
    margin: 1em;
    border-radius: 15px;
    filter: var(--filter-shadow);
} 