.auth {
    max-width: 670px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-context {
    background-color: var(--black-4);
    width: 100%;
    min-height: 200px;
    border-radius: 5px;
    padding: 15px;
}
.login-google {
    
}