.book_card_container {
    gap: 8px;
    padding: 5px;
}
.book_card_container .book_card:hover {
    background-color: var(--secondary);
    cursor: pointer;
}
.book_card {
    box-shadow: var(--shadow-1);
    min-width: 15em;
    width: 20em;
    background-color: var(--primary);
    border-radius: 8px;
    overflow: hidden;
}
.book_card-header .banner {
    width: 100%;
    height: 7em;
    object-fit: cover;
}
.book_card .avatar {
    width: 3em;
    height: 3em;
    object-fit: cover;
    top: -25px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--primary);
}
.book_card p.title {
    color: var(--text-primary);
    font-size: small;
    margin-top: 2em;
}
.book_card p {
    color: var(--text-1);
    font-size: x-small;
}
.book_card-body {
    padding: 0 1em 1em;
    position: relative;
    display: flex;
    flex-direction: column;
}