@import url(./chat.css);
@import url(./bookCard.css);
.todo-card {
    width: 100%;
    min-height: 58px;
    border-radius: 5px;
    color: dimgray;
}
.todo-left {
    flex: 1;
}
.card-color {
    width: 10px;
    min-width: 10px;
    margin: .5em;
    border-radius: 3px;
}
.card-text {
    padding: 8px 0;
    word-break: break-all;
    flex: 1;
}
.card-title {
    color: whitesmoke;
}
.card-description, .card-deadline {
    font-size: small;
}
.card-finish {
    width: 55px;
    height: 28px;
    border-radius: 50px;
    margin: auto 0 auto 1em;
    transition: .3s ease-out;
}
.card-finish-value {
    width: 30px;
    height: 100%;
    border-radius: 50px;
}
.finish-on {
    padding-left: 25px;
    background-color: #0d7377;
}
.finish-off {
    padding-right: 25px;
}
.card-more-btn {
    margin: .5em;
    padding: .5em;
    border-radius: 50px;
    width: 15px;
}
.card-more-btn:hover {
}
.card-drop-down.active {
    opacity: 1;
    visibility: visible;
    transition: .1s ease;
}
.card-drop-down.inactive {
    opacity: 0;
    visibility: hidden;
    transition: .1s ease;
}
.card-drop-down ul {
    list-style: none;
    font-size: small;
    right: 25px;
    top: 30px;
    border-radius: 5px 0 5px 5px;
}
.card-drop-down ul.reverse {
    right: 0;
    top: 60px;
}
.card-drop-down ul li {
    gap: 3px;
    padding: 5px 15px;
}
.card-drop-down ul li:hover {
}
.edit_card_modal {
    height: 100%;
}
@media (max-width: 524px) {
    .edit_card_modal {
        flex-direction: column;
    }
}
@media (max-width: 375px) {
    .card-description {
        font-size: xx-small;
    }
}