.chat-card-date {
    border-radius: 5px;
    width: fit-content;
    font-size: .5em;
    padding: .25em .5em;
    margin: .5em 0;
    background-color: whitesmoke;
    color: #2A394E;
}
.chat-card-nickname {
    font-size: .7em;
    margin-top: .5em;
}
.chat-card {
    margin-bottom: 1px;
    width: 100%;
    transition: .1s ease;
}
.chat-card.active {
}
.chat-card-message {
    background-color: burlywood;
    white-space: pre-line;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: .7em;
    word-break: break-all;
    color: #2A394E;
}
.chat-card-message.my {
    background-color: var(--primary);
    color: whitesmoke;
}
.chat-card-message.disable {
}
.chat-card-message.disable.my {
}
.chat-card-time {
    font-size: .5em;
    margin-left: 2px;
}
.chat-card-time.my {
    margin-left: 0;
    margin-right: 2px;
}
.chat-dropdown {
    bottom: 0;
    right: 0;
    width: fit-content;
}
.chat-dropdown.my {
    left: 0;
}
.chat-dropdown.active {
    opacity: 1;
    visibility: visible;
    transition: .1s ease;
    width: 30px;
}
.chat-dropdown.inactive {
    opacity: 0;
    visibility: hidden;
    transition: .1s ease;
}
.chat-dropdown ul li {
    list-style: none;
    font-size: small;
    padding: 0 5px;
    border-radius: 5px;
}
.chat-dropdown ul li:hover {
}