:root {
    --primary: #010001;
    --primary-bright: #23002387;
    --primary-transparent: #01000187;
    --secondary: #111;
    --secondary-transparent: #1111117c;
    --secondary-bright: #3b3a3a7c;
    --thirdary: #fbbb17;
    --thirdary-transparent: #fbba1782;
    --text-primary: #ecedee;
    --text-secondary: #787f85;
}
.bg-primary {
    background-color: var(--primary);
}
.bg-secondary {
    background-color: var(--secondary);
}
.text-primary {
    color: #ecedee !important;
}
.text-secondary {
    color: #787f85;
}