:root {
    --primary-bright: #2f4058;
    --primary: #2A394E;
    --primary-dark-25: #1c2635;
    --primary-dark-50: #141c27;
}
.bg-indianred {
    background-color: indianred;
}
.bg-burlywood {
    background-color: burlywood;
}
.bg-primary {
    background-color: #2A394E;
}
.bg-primary-bright {
    background-color: #2f4058;
}
.bg-primary-dark-25 {
    background-color: #1c2635;
}
.bg-primary-dark-50 {
    background-color: #141c27;
}
.text-primary {
    color: #2A394E;
}
.bg-secondary {
    background-color: #7253ee;
}
.text-azure {
    color: #2A394E;
}
.text-whitesmoke {
    color: whitesmoke;
}
.text-burlywood {
    color: burlywood;
}
.border-burlywood {
    border: 1px solid burlywood;
}
.border-primary-bright {
    border: 1px solid var(--primary-bright);
}
.border-b-burlywood {
    border-bottom: 1px solid burlywood;
}
.border-l-burlywood {
    border-left: 1px solid burlywood;
}
.border-l-no {
    border: 1px solid #774360 !important;
}
.text-ok {
    color: #0d7377;
}
.bg-ok {
    background-color: #0d7377;
}
.bg-no {
    background-color: #774360;
}
.text-no {
    color: #774360;
}
.bg-info {
    background-color: #277bc0;
}
.text-info {
    color: #277bc0;
}
.transition-ease {
    transition: ease 0.3s;
}
.border-primary {
    border-color: var(--primary);
}
.overflow-unset-important {
    overflow: unset !important;
}