.react-calendar {
    padding: 8px;
    border-radius: 5px;
    background-color: #141c27;
}
.react-calendar__navigation {
    display: flex; 
    align-items: center;
    background-color: var(--primary-dark-25);
}
.react-calendar__navigation__arrow {
    border: none;
    padding: 2px 4px;
    cursor: pointer;
    font-family: var(--defaultFont);
    font-size: large;
    border-radius: 5px;
    min-width: 30px;
    order: 2;
    background-color: inherit;
    color: whitesmoke;
}
.react-calendar__navigation__arrow:hover, .react-calendar__navigation__label:hover {
    background-color: var(--primary-bright);
}
.react-calendar__navigation__label {
    border: none;
    font-weight: 600;
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 5px;
    flex: 1;
    text-align: left;
    background-color: inherit;
    color: whitesmoke;
    padding-left: 10px;
}
.react-calendar__viewContainer {
    margin-top: 5px;
    padding: 5px;
}
.react-calendar__month-view__weekdays__weekday {
    text-align: center;
    font-size: x-small;
    color: whitesmoke;
}
.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
}
.react-calendar__month-view__weekdays__weekday--weekend {
    color: brown;
}
.react-calendar__tile  {
    color: whitesmoke;
    background-color: inherit;
    border: none;
    padding: 3px;
    font-size: x-small;
    padding: 5px;
    overflow: visible;
    position: relative;
}
.react-calendar__tile:has(> div) abbr {
    display: none;
}
.react-calendar__month-view__days__day--neighboringMonth {
    color: dimgray !important;
}
.react-calendar__month-view__days__day--weekend {
    color: brown;
}
.react-calendar__tile abbr {
    padding: 3px 5px;
}
.react-calendar__tile--now > * {
    color: #009dcf;
}
.react-calendar__tile--now abbr {
    border-radius: 50px;
}