@import url(./kalender.css);
@import url(./notif.css);
.loading {
    animation: loading-skeleton 1s ease-in-out forwards infinite;
    animation-direction: alternate;
    border-radius: 5px;
    background-color: var(--primary-dark-50);
}
.loading.guild-photo-profile {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    padding: .25em;
    margin: .25em auto;
    animation-delay: .3s;
}
.loading.room {
    height: 36px;
}
.loading.sidebar_left_loading {
    height: 36px;
}
.loading.center_loading {
    height: 48px;
}
.loading.sidebar_right_loading {
    height: 42px;
}
.loading.book_card {
    height: 10em;
    width: 10em;
    flex: 1;
    border-radius: 8px;
}
.spinner {
    animation: loading-spinners 1s ease-in-out infinite;
}
@keyframes loading-spinners {
    to {
        transform: rotate(360deg);
    }
}

@keyframes loading-skeleton {
    0% {
        opacity: .2;
        transform: translateY(6px) scale(0.98);
    }
    85%, 100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}