.Toastify__toast-container {
    width: fit-content !important;
}
.Toastify__toast-icon {
    margin-inline-end: 0;
    margin-inline-start: 5px;
}
.Toastify__toast {
    min-height: 0 !important;
    width: fit-content;
    font-family: var(--defaultFont) !important;
    font-size: small;
    margin-bottom: 5px;
    background-color: #1c2635e8 !important;
    color: whitesmoke !important;
    border-radius: 8px;
    margin: .25em;
    border: #2f4058 solid 1px;
}
.Toastify__toast-theme--colored {
    padding: 0 !important;
    margin-bottom: 0;
}
.Toastify__toast-body {
    margin: 0 !important;
    padding: 0 !important;
}
/* my toast */
.myToast {
    display: flex;
    align-items: center;
}
.myToast .icon {
    padding: 5px;
}
.myToast p {
    padding: 5px;
}
.myToast-greenyellow {
    color: greenyellow;
}