.Toastify__toast-container {
    width: fit-content !important;
}
.Toastify__toast-icon {
    margin-inline-end: 0;
    margin-inline-start: 5px;
}
.Toastify__toast {
    min-height: 0 !important;
    width: fit-content;
    font-family: var(--defaultFont) !important;
    font-size: small;
    margin-bottom: 5px;
    background-color: rgb(43, 43, 43) !important;
    color: whitesmoke !important;
}
.Toastify__toast-theme--colored {
    padding: 0 !important;
    margin-bottom: 0;
}
.Toastify__toast-body {
    margin: 0 !important;
    padding: 0 !important;
}
.Toastify__progress-bar {
}
/* my toast */
.myToast {
    display: flex;
    align-items: center;
}
.myToast .icon {
    padding: 5px;
}
.myToast p {
    padding: 5px;
}
.myToast-edit .icon {
}
.myToast-delete .icon {
}
.myToast-info .icon {
}
.myToast-greenyellow {
    color: greenyellow;
}