.base-right {
    flex: 1;
    background-color: var(--primary);
}
.sidebar-right {
    gap: 1px;
    flex: 1;
}
.base-right-form {
    display: flex;
    align-items: flex-end;
    gap: 3px;
    min-height: 40px;
    margin: 0 3px 8px;
    padding: 0 2px;
    background-color: transparent;
    z-index: 1;
}
.base-right-form .textarea-container {
    flex: 4;
    background-color: var(--secondary);
    border-bottom: 2px solid var(--black-1);
    border-radius: 5px;
    padding: 5px;
    min-height: 35px;
}
.base-right-form textarea {
    width: 100%;
    outline: none;
    border: none;
    color: var(--text-primary);
    background-color: inherit;
    resize: none;
    font-family: inherit;
    font-size: x-small;
    max-height: 160px;
}
.base-right-form button, .base-right-form .btn-off {
    height: 35px;
    flex: 1;
    color: var(--white-1);
    border: none;
    border-radius: 10px;
    font-size: 1em;
}
.btn-on {
    background-color: var(--light-blue);
    box-shadow: var(--shadow-1);
}
.scrollToBottom {
    width: 15px;
    bottom: 50px;
    right: 10px;
    z-index: 1;
    font-size: large;
    background-color: var(--purple-1-transparent);
    color: var(--purple-1);
    padding: 8px;
    border-radius: 50px;
    cursor: pointer;
    transition: .1s ease;
    box-shadow: var(--shadow-1);
    transform: scale(0);
}
.scrollToBottom.active {
    transform: scale(1);
}
/* outer */
.users-group {
    color: var(--text-2);
    font-size: small;
}
.group-user-container {
    border-radius: 5px;
    margin-bottom: 10px;
}
.group-user {
    padding: 5px;
    gap: 5px;
    border-radius: 5px;
    margin: 4px 0;
}
.group-user:hover {
    background-color: var(--secondary);
    transition: .1s ease;
}
.group-user img {
    width: 38px;
    height: 38px;
    border-radius: 50px;
}
.group-user p {
    font-size: small;
    font-weight: 500;
    color: var(--text-2);
}
.group-user .user-status {
    color: var(--text-1);
    font-size: xx-small;
}
@media (max-width: 768px) {
    .base-right {
        height: calc(100vh - 96px);
        position: fixed;
        right: 0;
        width: 314px;
        margin: 1em;
        border-radius: 8px;
    }
    .base-right-hide {
        transform: translateX(calc(100% + 1em));
        transition: .1s ease;
    }
    .base-right-show {
        transform: translateX(0);
        transition: .1s ease;
    }
}