@import url(./baseLeft.css);
@import url(./baseCenter.css);
@import url(./baseRight.css);
@import url(./detailCard.css);
@import url(./TodoApp.css);

.base  {
    padding-top: 48px;
    height: -webkit-fill-available;
}
.base-center {
    flex: 2;
}
.sidebar-left, .center, .sidebar-right {
    padding: .5em;
}
.center {
    padding-bottom: 55px;
}
.sidebar-right {
    padding-bottom: 0;
}