.base-right {
    flex: 1;
}
.sidebar-right {
    gap: 1px;
    flex: 1;
}
.base-right-form {
    gap: 3px;
    min-height: 40px;
    margin: 0 3px 8px;
    padding: 0 2px;
}
.base-right-form .textarea-container {
    flex: 4;
    border-radius: 5px;
    padding: 5px;
    min-height: 35px;
}
.base-right-form textarea {
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    font-family: inherit;
    font-size: x-small;
    max-height: 160px;
}
.base-right-form button, .base-right-form .btn-off {
    height: 35px;
    flex: 1;
    border: none;
    border-radius: 10px;
    font-size: 1em;
}
.btn-on {
}
.scrollToBottom {
    width: 15px;
    bottom: 50px;
    right: 10px;
    font-size: large;
    padding: 8px;
    border-radius: 50px;
    transition: .1s ease;
    transform: scale(0);
    background-color: rgba(222, 184, 135, 0.489);
    color: var(--primary);
}
.scrollToBottom.active {
    transform: scale(1);
}
/* outer */
.users-group {
    font-size: small;
}
.group-user-container {
    border-radius: 5px;
    margin-bottom: 10px;
}
.group-user {
    padding: 5px;
    gap: 5px;
    border-radius: 5px;
    margin: 4px 0;
    color: whitesmoke;
}
.group-user:hover {
    transition: .1s ease;
}
.group-user img {
    width: 38px;
    height: 38px;
    border-radius: 50px;
}
.group-user p {
    font-size: small;
    font-weight: 500;
}
.group-user .user-status {
    font-size: xx-small;
    color: burlywood;
}
@media (max-width: 768px) {
    .base-right {
        height: calc(100vh - 96px);
        position: fixed;
        right: 0;
        width: 314px;
        border-radius: 8px;
        margin-top: 1em;
        border: 3px solid burlywood;
        border-style: dashed;
    }
    .base-right-hide {
        transform: translateX(calc(100% + 1em));
        transition: .1s ease;
    }
    .base-right-show {
        transform: translateX(0);
        transition: .1s ease;
    }
}