.center {
    gap: 5px;
    height: 100%;
}
.center-action-btn {
    bottom: 5px;
    background-color: indianred;
    border-radius: 50px;
}
.detail-back {
    gap: 10px;
    border-radius: 50px;
    padding: 10px 15px;
}
.action-add {
    height: 45px !important;
}
.add-btn {
    padding: 12px 13px;
    border-radius: 50px;
    font-size: 21px;
    transition: .1s ease;
}