.base-left {
    flex: 1;
}
.sidebar-left {
    gap: 5px;
    flex: 1;
}
.base-left-hide {
    transform: translateX(0);
}
@media (max-width: 892px) {
    .base-left {
        position: fixed;
        width: 255px;
        box-shadow: var(--shadow-1-right);
        margin: 1em;
        border-radius: 15px;
        background: var(--primary);
        border: 1px solid var(--secondary);
    }
    .base-left-hide {
        transform: translateX(calc(-100% - 1em));
        transition: .1s ease;
    }
    .base-left-show {
        transform: translateX(0);
        transition: .1s ease;
    }
}
/* greet */
.greeting {
    background-color: var(--black-1);
    box-shadow: var(--shadow-1);
    margin-bottom: 0;
}
.greeting, .jadwal {
    min-height: 58px;
    border-radius: 5px;
    gap: 5px;
    padding-right: 5px;
}
.greeting .color {
    flex: 1;
    border-radius: 3px;
    background-color: var(--black-1);
    font-size: large;
}
.greeting-context, .jadwal .open-jadwal {
    flex: 5;
}
.greeting-context .selamat {
    color: var(--white-1);
    font-size: small;
}
.greeting-context .date {
    color: var(--white-1);
    font-size: small;
}
/* jadwal */
.jadwal {
    padding-right: 0;
    gap: 0;
    min-height: 38px;
}
.jadwal .preview {
    flex: 1;
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-color: var(--secondary) !important;
}
.jadwal .preview:hover .setting-btn {
    opacity: 1;
}
.jadwal .preview:hover .setting {
    opacity: 0;
    background-color: var(--black-2);
    width: 100%;
    height: 100%;
}
.jadwal .preview:hover .setting, .jadwal .preview:hover .setting-btn {
    opacity: 1;
    transition: .5s;
}
.jadwal .preview:hover .setting-btn {
    transform: rotate(22deg);
}
.jadwal .setting-btn {
    opacity: 0;
}
.jadwal .open-jadwal {
    background-color: var(--secondary);
    color: var(--text-1);
    transition: .1s;
    padding: 0 10px;
    font-size: small;
}
.jadwal .open-jadwal:hover {
    background-color: #e2e2e2;
}
.jadwal-image {
    width: 100%;
    height: 100%;
    background-color: var(--black-1);
}
.jadwal-image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
/* menu box */
.menu-box {
    background-color: var(--secondary);
    color: var(--text-1);
    padding: 2px 5px;
    font-size: small;
    border-radius: 5px;
    min-width: 45px;
    width: fit-content;
    margin: 3px;
}
.menu-box-icon {
    min-width: 20px;
}
.menu-box-count {
    flex: 1;
    text-align: center;
    min-width: 10px;
}
/* proggress */
.progress {
    gap: .5em;
    width: 100%;
}
.progress-bar {
    background-color: var(--secondary);
    height: 20px;
    width: 100%;
    border-radius: 5px;
}
.progress-value {
    height: 100%;
    transition: .3s ease;
}
.undone {
    background-color: var(--ok);
}
.done {
    background-color: var(--danger);
}