/* left */
.info-menu {
    gap: 4px;
}
.contributor {
    height: 150px;
    border-radius: 5px;
    padding: 3px 5px;
}
.contributor p {
    margin: 3px 0;
    font-size: small;
}
.detail-Left-action {
    padding: 4px 5px 8px;
    gap: 8px;
}
.action-left {
    padding: 8px 5px;
    border-radius: 5px;
    font-size: large;
}
.action-trash-left {
    flex: 1;
}
.action-edit-left {
    flex: 3;
}
/* desc */
.detail-desc {
    gap: 5px;
    border-radius: 5px;
    padding: .5em;
}
.detail-desc .color {
    width: 10px;
    min-width: 10px;
    max-height: 50px;
    border-radius: 3px;
}
.detail-desc-context {
    flex: 1;
}
.detail-desc p {
    white-space: pre-line;
}
.images-container {
    min-height: 50px;
    border-radius: 3px;
}
.images-list {
    gap: 5px;
}
/* card image */
.card-img {
    border-radius: 3px;
    flex-grow: 1;
}
.card-img-pic {
    width: 40px;
    object-fit: cover;
}
.card-img-pic.full {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: .3s ease;
}
.card-img-context {
    flex: 1;
    padding: 5px;
    font-size: xx-small;
}
.add-image {
    padding: 5px 10px;
    border-radius: 5px;
}
/* note */
.note {
    border-radius: 5px;
}
.note-editor {
    max-width: 1024px;
    min-width: 75%;
    margin: auto;
}

.note-head {
    padding: 5px;
}
.note:hover .note-btn {
    display: inherit;
}
.note-btn {
    gap: 5px;
    display: none;
}
.note-btn-simpan {
    font-size: small;
    font-family: var(--defaultFont);
    padding: 3px 8px;
    border-radius: 5px;
    border: none;
}
.note_editor-textarea {
    outline: none;
    resize: vertical;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-family: inherit;
    transition: .3s;
    font-size: small;
    min-height: 150px;
    width: auto;
}
.note-head svg {
    min-width: 15px;
    border-radius: 50px;
    font-size: small;
    padding: 5px;
}
.note-color {
    min-width: 45px;
    height: 15px;
}
.note-info {
    font-size: x-small;
    padding: 5px 20px;
}
.note-body pre {
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: small;
    padding: 5px 10px 0;
    min-height: 100px;
    white-space: pre-wrap;
}

@media (max-width: 425px) {
    .note-editor {
        min-width: 90%;
    }
}